<div class="author">
    <h1 class="author__heading"> Hi, I am Pavan.</h1>
    <p class="author__body">Web developer and a graduate student from syracuse university.</p>
</div>

<img src="/img/hero-image.webp" alt="person lookinh out through window" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="article-ul">
        <!-- the keyword data is from main.js where we used data inside our try block -->
        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id%>">
                <span><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%=  nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>
</section>

